﻿@model HcityAssets.Models.asset

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.road.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.road.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lease.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lease.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assettype.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assettype.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assetstatus.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assetstatus.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paymentstatus.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentstatus.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
