﻿@{
    var asset = (HcityAssets.Models.asset)ViewBag.asset;
}
@using HcityAssets.Models;


@*chart*@
<link href="~/Content/assets/libs/chart_js/Chart.min.css" rel="stylesheet" />
<script src="~/Content/assets/libs/chart_js/Chart.min.js"></script>
<style>
    #map {
        box-shadow: 0px 0px 5px #808080;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table tblsm">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Company:</td>
                        <td title="@(Globals.get_company_name(asset.CompanyId))">@(Globals.get_company_name(asset.CompanyId))</td>
                    </tr>
                    <tr>
                        <td>Asset Title:</td>
                        <td title="@asset.Title">@asset.Title</td>
                    </tr>
                    <tr>
                        <td>AssetType:</td>
                        <td title="@(Globals.get_asset_type_name(asset.AssetTypeId))">@(Globals.get_asset_type_name(asset.AssetTypeId))</td>
                    </tr>

                    <tr>
                        <td>Application Date</td>
                        <td title="@(DateTime.Parse(asset.ApplicationDate.ToString()).ToString("yyyy-MM-dd"))">@(DateTime.Parse(asset.ApplicationDate.ToString()).ToString("yyyy-MM-dd"))</td>
                    </tr>


                    <tr>
                        <td>Payment Status</td>
                        <td title="@(Globals.get_payment_status_name(asset.PaymentStatusId))">@(Globals.get_payment_status_name(asset.PaymentStatusId))</td>
                    </tr>

                    <tr>
                        <td>Location Description</td>
                        <td title="@asset.LocationDescription">@asset.LocationDescription</td>
                    </tr>


                    <tr>
                        <td>Road</td>
                        <td title="@(Globals.get_road_name(asset.RoadId))">@(Globals.get_road_name(asset.RoadId))</td>
                    </tr>

                    <tr>
                        <td>Status</td>
                        <td title="@(Globals.get_asset_status_name(asset.StatusId))">@(Globals.get_asset_status_name(asset.StatusId))</td>
                    </tr>

                    <tr>
                        <td>Dimensions</td>
                        <td title="@(asset.length)m x @(asset.Width)m">@(asset.length)m x @(asset.Width)m</td>
                    </tr>

                    <tr>
                        <td>Location</td>
                        <td title="Lat: @(asset.Latitude)  Lng: @(asset.Longitude)">Lat: @(asset.Latitude)  Lng: @(asset.Longitude)</td>
                    </tr>

                    <tr>
                        <td>Balance</td>
                        <td title="@(asset.Balance==null?0:asset.Balance)">@(asset.Balance == null ? 0 : asset.Balance)</td>
                    </tr>


                </tbody>
            </table>
        </div>





        <div class="col-md-6">
            <div id="map" style="height:450px"></div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12" style="display:flex;align-content:center;justify-content:center;">
            <div class="graph" style="width:400px;height:400px;">

                <div id="canvas-holder" style="width:400px;height:400px;">
                    <canvas id="ctx" style="width:100%;height:100%;"></canvas>
                </div>

            </div>
        </div>
    </div>


</div>


<script>
function initMap() {
    var myLatLng = { lat: -17.8277206, lng: 31.0533695 };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
    var infowindow = new google.maps.InfoWindow(); /* SINGLE */

    var iconcolor = 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|58D68D';
        if(@asset.StatusId == "1")
            iconcolor = 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|F39C12';
        else if (@asset.StatusId == "2")
            iconcolor = 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|239B56';
        else if (@asset.StatusId == "3")
            iconcolor = 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|008000';
        else if (@asset.StatusId == "4")
            iconcolor = 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|E74C3C';
        else if (@asset.StatusId == "5")
            iconcolor = 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FE7569';
        else if (@asset.StatusId == "6")
                iconcolor = 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FE7569';

         var marker = new google.maps.Marker({
             map: map,
             icon : iconcolor ,
             position: { lat: @asset.Latitude, lng: @asset.Longitude },
             title: '@asset.Title'
          });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.close(); // Close previously opened infowindow
            infowindow.setContent(' <div class="well">' + '<strong>OWNER</strong> : ' + '@(Globals.get_company_name(asset.CompanyId))' + '<br>' + '<strong>TITLE</strong> :' + '@asset.Title' + '<br>' + ' <strong>BALANCE</strong> : ' + '@(asset.Balance != null ? asset.Balance : 0 )' + '<br>' + ' <strong>STATUS</strong> : ' + '@(Globals.get_asset_type_name(asset.AssetTypeId) ?? "unknown")' +'</div>' );
            infowindow.open(map, marker);
        });

       }//init map

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQrtU5y53d68uzWEsykk62vhtd2UDwTZY&callback=initMap"
        async defer></script>


@*graph*@
<script>

    window.chartColors = {
        red: 'rgba(255, 99, 132,1)',
        orange: 'rgba(255, 159, 64,1)',
        yellow: 'rgba(255, 205, 86,1)',
        green: 'rgba(75, 192, 192,1)',
        blue: 'rgba(0, 0, 255,1)',
        purple: 'rgba(153, 102, 255,1)',
        black: 'rgba(0, 0, 0,1)'
    };

    var data = {
        datasets: [{
            data: [@asset.Balance, @asset.Used],
            backgroundColor: [
                window.chartColors.blue,
                window.chartColors.black,
                window.chartColors.red,
                window.chartColors.orange,
                window.chartColors.yellow,
            ]
        }],
        labels: [
            'Balance',
            'Used',
        ],

    };
    var ctx = $("#ctx");
    // And for a doughnut chart
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        //options: options
    });
</script>