﻿@model HcityAssets.Models.asset

@{
    ViewBag.Title = "Edit";
}




<style>
    #map {
        height: 65vh;
        width: 100%;
        box-shadow: 0px 0px 5px #808080;
    }

    .loader {
        height: 20px;
        width: 20px;
        visibility: hidden;
    }
</style>



<div class="container">

    <br />
    <hgroup>
        @Html.ActionLink("Assets", "Index")  / Edit
        <h2>Edit Asset</h2>
    </hgroup>
    <hr />




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">

            <div class="col-md-5">
                <div id="map"></div>
            </div>@*col-md-5 left side*@


            <div class="col-md-7">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyId, "CompanyId", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control",@id="CompanyId" })
                            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.assetstatus.Title, "Status", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.assetstatus.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">PaymentStatus</label>
                            <select class="form-control" name="PaymentStatusId">
                                @foreach (var item in (List<HcityAssets.Models.paymentstatus>)ViewBag.payment_statuses)
                                {
                                    <option value="@item.Id" selected="@(item.Id==Model.PaymentStatusId)">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                            @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                            @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.length, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.length, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "any" } })
                            @Html.ValidationMessageFor(model => model.length, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Width, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "any" } })
                            @Html.ValidationMessageFor(model => model.Width, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RoadId, "RoadId", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("RoadId", null, htmlAttributes: new { @class = "form-control",@id="RoadId" })
                            @Html.ValidationMessageFor(model => model.RoadId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group.">
                            @Html.LabelFor(model => model.LocationDescription, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.LocationDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>






                @*submit*@
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button class="btn btn-info btn-block" onclick="get_current_location();" type="button">
                                <span>
                                    <img src="~/Content/assets/img/loader.gif" class="loader" />
                                </span>
                                Get Current Location
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                Update Asset
                            </button>
                        </div>
                    </div>
                </div>


            </div>@*col-md-7*@
        </div>@*row*@
    }


</div>@*container*@


<script>
     $("#CompanyId").select2();
    $("#RoadId").select2();
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*zebra  data pickr*@
    <script src="~/Content/assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/assets/libs/zebra_date_picker/zebra_datepicker.min.js"></script>
    <link href="~/Content/assets/libs/zebra_date_picker/css/default/zebra_datepicker.min.css" rel="stylesheet" />

    <script>
        //$('#ApplicationDate').val("@Model.ApplicationDate.Value.ToString("dd/MM/yyyy")");
        $('#ApplicationDate').Zebra_DatePicker({
            format: 'm/d/Y H:i:s A',
            show_icon:false
        });
    </script>


    

    <script>
            // Note: This example requires that you consent to location sharing when
            // prompted by your browser. If you see the error "The Geolocation service
            // failed.", it means you probably did not give permission for the browser to
            // locate you.
            var map, infoWindow;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: @Model.Latitude, lng: @Model.Longitude },
                    zoom: 14
                });
                infoWindow = new google.maps.InfoWindow;
                 var iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|58D68D';
                 var marker = new google.maps.Marker({
                    map: map,
                    icon : iconcolor ,
                    position: { lat: @Model.Latitude, lng: @Model.Longitude },
                    title: '@Model.Title'
                });


                //$.getJSON('https://ipinfo.io/geo', function(response) {
                //    var loc = response.loc.split(',');
                //    var coords = {
                //        latitude: loc[0],
                //        longitude: loc[1]
                //    };

                //     document.getElementById("Latitude").value= coords.latitude;
                //    document.getElementById("Longitude").value = coords.longitude;

                //});

            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }


            function get_current_location() {
                var loader = $(".loader");
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    loader.css("visibility", "visible");
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        document.getElementById("Latitude").value = position.coords.latitude;
                        document.getElementById("Longitude").value = position.coords.longitude;
                        setTimeout(function () {
                            loader.css("visibility", "hidden");
                        }, 1000);
                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQrtU5y53d68uzWEsykk62vhtd2UDwTZY&callback=initMap">
    </script>
}
