﻿@model IEnumerable<HcityAssets.Models.asset>

@{
    ViewBag.Title = "Index";
}
@using HcityAssets.Models;

<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">Assets</div>
    <div class="panel-body">

        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-bordered table-hover" id="dt">
            <thead>
                <tr>
                    <th>
                        Asset name
                    </th>
                    <th>
                        Company
                    </th>
                    <th>
                        Asset type
                    </th>
                    <th>
                        Asset status
                    </th>
                    <th>
                        Payment status
                    </th>
                    <th>
                        Lease
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.company.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.assettype.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.assetstatus.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.paymentstatus.Title)
                        </td>
                        <td>
                            <a href="/Leases/Details/@item.LeaseId">
                                @Globals.get_lease_from_id(item.LeaseId??0).Name
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Balance)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "label label-primary" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "label label-success" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "label label-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


<script>
    $('#dt').DataTable({
        responsive: true,
    });
</script>