﻿@model HcityAssets.Models.lease

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@*select2*@
<link href="~/Content/assets/libs/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/assets/libs/select2/js/select2.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lease</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Monthly Charge</label>
            <div class="col-md-10">
                <input type="number" step="any" class="form-control" name="amount" required />
            </div>
        </div>

        @*<div class="form-group">
                <label class="control-label col-md-2">Charge penalty fees</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsPenaltyFees, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsPenaltyFees, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        @* <div class="form-group">
                @Html.LabelFor(model => model.StatusId, "StatusId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                </div>
            </div>
        *@

        <div class="form-group">
            <label class="control-label col-md-2">Asset</label>
            <div class="col-md-10">
                <select class="form-control" name="AssetId" id="AssetId">
                    @foreach (var item in (List<HcityAssets.Models.asset>)ViewBag.assets)
                    {
                        <option value="@item.Id">@item.Title (@item.company.Name)</option>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Expiry date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control", @id = "date" } })
                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Lease type</label>
            <div class="col-md-10">
                @Html.DropDownList("LeaseTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LeaseTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

<script>
    $('#date').Zebra_DatePicker({
        format: 'Y-m-d'
    });

    $("#AssetId").select2();

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

