﻿@model HcityAssets.Models.lease

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lease</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPenaltyFees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPenaltyFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leasestatus.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leasestatus.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommencementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommencementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leasetype.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leasetype.Title)
        </dd>

        <dt>
            Monthly charge
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
</p>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
