﻿@model IEnumerable<HcityAssets.Models.lease>

@{
    ViewBag.Title = "Index";
}
<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">Lease</div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-bordered table-hover" id="dt">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    @*<th>
                        Charge penalty fees
                    </th>*@
                    <th>
                        Monthly Charge
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.leasestatus.Title)
                        </th>*@
                    <th>
                        Expiry date
                    </th>
                    <th>
                        Commencement date
                    </th>
                    <th>
                        Lease type
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.IsPenaltyFees)
                        </td>*@
                        <td>
                            @item.amount
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.leasestatus.Title)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpiryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommencementDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.leasetype.Title)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "label label-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "label label-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "label label-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




<script>
    $("#dt").DataTable();
</script>