﻿@model HcityAssets.Models.transaction

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Transactions", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Transaction</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">User</label>
        <div class="col-md-10">
            @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Fees</label>
        <div class="col-md-10">
            @Html.DropDownList("FeesId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FeesId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Asset</label>
        <div class="col-md-10">


            @foreach (var item in ViewBag.Assets)
            {
                if (item.lease != null)
                {
                    <input name="AssetAmount" type="number" value=" @item.Lease.leasetype.Amount" />
                }
                else
                {
                    <input name="AssetAmount" type="number" value="" />
                }
                <input name="Assets" type="checkbox" value="@item.Id" /> @item.Title

                <br> <br>
            }

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Payment method </label>
        <div class="col-md-10">
          @Html.DropDownListFor(m => m.PaymentMethod,
                    new SelectList(Enum.GetValues(typeof(HcityAssets.Models.PaymentMethod))),
                    "Payment Method")
            @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        <label class="control-label col-md-2">Payment type </label>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.PaymentType)
                @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        @ViewBag.Message

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
