﻿@model HcityAssets.Models.transaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 class="alert alert-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            Payment Method
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Firstname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <p style="margin-top:30px;">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </p>
           
        </div>
    }
</div>
