﻿
@{
    var payment = (HcityAssets.Models.transaction)ViewBag.payment;
}

@using HcityAssets.Models;
@using System.Linq;

<style>
    .table-danger
    {
        background-color:red!important;
        color:white!important;
    }
    .table-success{
        background-color:green!important;
        color:white!important;
    }
</style>
<br />
<br />
<br />
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <table style="width:100%" class="table table-striped">

                <tr>
                    <td>
                        Date:
                    </td>
                    <td>
                        @(payment.PaymentDate?.ToString("yyyy-MM-dd"))
                    </td>
                </tr>

                <tr>
                    <td>Company:</td>
                    <td title="">@ViewBag.company.Name</td>
                </tr>

                <tr>
                    <td>
                        Payment For:
                    </td>
                    <td>
                        @payment.fee.Title <span style="color:red;">|</span> @(Globals.get_asset_name(payment.AssetId))
                    </td>
                </tr>



                <tr>
                    <td>
                        Amount:
                    </td>
                    <td>
                        @payment.Amount
                    </td>
                </tr>


                @if (payment.IsApproved)
                {
                    <tr class="table-success">
                        <td>
                            Approved:
                        </td>
                        <td>
                            @(payment.IsApproved ? "Yes" : "No") <span style="color:red;">|</span>  @(payment.ApprovedDate?.ToString("yyyy-MM-dd"))
                        </td>
                    </tr>

                }

                @if (payment.isRejected)
                {
                    <tr class="table-danger">
                        <td>
                            Rejected:
                        </td>
                        <td>
                            @(payment.isRejected ? "Yes" : "No") <span style="color:red;">|</span>  @(payment.ApprovedDate?.ToString("yyyy-MM-dd"))
                        </td>
                    </tr>
                }

                <tr>
                    <td>Action</td>
                    <td>
                        <a href="/Transactions/Approve/@payment.Id" class="label label-success">
                            Accept
                        </a>  &nbsp;|&nbsp;
                        <a href="/Transactions/Reject/@payment.Id" class="label label-danger">
                            Reject
                        </a>
                    </td>
                </tr>

            </table>
            <small style="color:purple">if payment is topup, when you approve the asset will be topped up automatically</small>



        </div>

        <div class="col-md-6">
            <iframe style="width:100%; min-height:600px;" frameborder="0"
                    src="@($"{Globals.client_base_address}Billing/ResourceViewer/{payment.Id}")"
                    allowfullscreen
                    webkitallowfullscreen>
            </iframe>
        </div>

    </div>
</div>