﻿@model IEnumerable<HcityAssets.Models.transaction>

@{
    ViewBag.Title = "Index";
}
@using HcityAssets.Models;
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:150px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
    .table-danger
    {
        background-color:red!important;
        color:white!important;
    }
    .table-success{
        background-color:green!important;
        color:white!important;
    }
</style>



<form method="get" action="/Transactions">
    <table>
        <tr>
            <td>From: </td>
            <td><input type="text" class="form-control" name="date_from" id="date_from" style="padding-left:10px;" value="@ViewBag.date_from"></td>
            <td>To: </td>
            <td><input type="text" class="form-control" name="date_to" id="date_to" style="padding-left:10px;" value="@ViewBag.date_to"></td>
            <td>
            <select name="fee_id" class="form-control" style="margin-left:7px;">
                <option value="-1">All</option>
                @foreach(var item in (List<HcityAssets.Models.fee>)ViewBag.fees)
                {
                    <option value="@item.Id" selected="@((int)ViewBag.fee_id==item.Id)">@item.Title</option>
                }
            </select>
            <td>
               &nbsp; <button type="submit" class="btn btn-primary btn-sm">Filter</button>
            </td>
        </tr>
    </table>
</form>

<br />

<div class="panel panel-primary">
    <div class="panel-heading">Transactions</div>
    <div class="panel-body">

        <table class="table table-sm table-dark" id="dt">
            <thead>
                <tr>
                    <th>
                        Payment date
                    </th>
                    <th>
                        Approved
                    </th>
                    <th>
                        Rejected
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Fee
                    </th>
                    <th>
                        Company Name
                    </th>

                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(item.isRejected?"table-danger":"")@(item.IsApproved?"table-success":"")">
                        <td title="@(item.PaymentDate?.ToString("yyyy-MM-dd"))">
                            @(item.PaymentDate?.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @(item.IsApproved ? "Yes" : "No")
                        </td>
                        <td>
                            @(item.isRejected ? "Yes" : "No")
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @item.fee.Title
                        </td>
                        <td>
                            <a href="/Companies/Details/@(Globals.get_company_id_from_email(item.ClientEmail))" style="color:black;">
                                <u>@(Globals.get_company_name_from_email(item.ClientEmail))</u>
                            </a>
                        </td>
                        <td>
                            <a href="/Transactions/Details/@item.Id" class="label label-info">
                                View Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="panel-footer"></div>
</div>

<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $('#dt').DataTable({
        responsive: true,
    });

</script>