﻿
@{
    ViewBag.Title = "Create Company";
}

<br />
<hgroup>
    @Html.ActionLink("Companies", "Index")  / Create
    <h2>Create Company</h2>
</hgroup>
<hr />




@using (Html.BeginForm("Create", "Companies", FormMethod.Post, new { @id="f1",@class="red"}))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <div class="form-group row">
            <label class="control-label col-md-2 black">Company Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="companyname" required>
            </div>
        </div>
        @*<div class="form-group row">
            <label class="control-label col-md-2">Company Status</label>
            <div class="col-sm-10">
                <select type="text" class="form-control" name="status">
                    <option value="1">Active</option>
                    <option value="0">Disabled</option>
                </select>
            </div>
        </div>*@
        <div class="form-group row">
            <label class="control-label col-md-2 black">TEL</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" name="tel" required>
            </div>
        </div>
        <input type="hidden" name="Status" value="1"/>
        <div class="form-group row">
            <label class="control-label col-md-2 black">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 black">Password</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="password" value="Password@123" required>
            </div>
        </div>

       @* <div class="form-group row">
            <label class="control-label col-md-2">Starting Balance</label>
            <div class="col-sm-10">
                <input type="number" step="any" name="balance" class="form-control">
            </div>
        </div>*@
    </div>



    <div class="form-group row">
        <label class="control-label col-md-2">&nbsp;</label>
        <div class="col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}



<script>
    $("#f1").validate();
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
