﻿@model HcityAssets.Models.company

@{
    ViewBag.Title = "Delete";
}

<style>
    dt {
        text-align: left !important;
    }
</style>

<br />
<hgroup>
    @Html.ActionLink("Companies", "Index")  / Delete
    <h2>Delete - @Model.Name</h2>
</hgroup>


<h3 class="alert alert-danger">Are you sure you want to delete this company?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt>
            Tel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    }
</div>
