﻿@model HcityAssets.Models.company

@{
    ViewBag.Title = "Details";
}

<br />
<hgroup>
    @Html.ActionLink("Companies", "Index")  / Details
    <h2>Company - @Model.Name </h2>
</hgroup>
<hr />

<style>
    dt{
         text-align:left!important;
    }
</style>

<div>
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            TEL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

      
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
