﻿@model HcityAssets.Models.company

@{
    ViewBag.Title = "Edit";
}


<br />
<hgroup>
    @Html.ActionLink("Companies", "Index")  / Edit
    <h2>Edit Company - @Model.Name </h2>
</hgroup>
<hr />




@using (Html.BeginForm("Edit", "Companies", FormMethod.Post, new { @id = "f1", @class = "red" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" value="@Model.Id" />

    <div class="form-horizontal">
        <div class="form-group row">
            <label class="control-label col-md-2 black">Company Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Name" value="@Model.Name" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 black">TEL</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" name="Phone" value="@Model.Phone" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 black">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="Email" value="@Model.Email" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 black">&nbsp;</label>
            <div class="col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>


}

<script>
    $("#f1").validate();
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
