﻿@model IEnumerable<HcityAssets.Models.company>

@{
    ViewBag.Title = "Index";
}
@using HcityAssets.Models;
<br />
<br />
<div class="panel panel-primary">
    <div class="panel-heading">Companies</div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-bordered table-hover" id="dt">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                   @* <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>*@
                    <th>
                      Balance
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                       @* <td>
                            @if (item.Status == 1)
                            {
                                @Html.Label("Active");
                            }
                            else if (item.Status == 0)
                            {
                                @Html.Label("Not active");
                            }
                            else
                            {
                                @Html.Label("Unknown");
                            }
                        </td>
                           *@
                        <td title="@(Globals.compute_company_balance(item.Id))">
                            @(Globals.compute_company_balance(item.Id))
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "label label-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "label label-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "label label-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


<script>
     $('#dt').DataTable({
        responsive: true,
    });
</script>