﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .email-error
    {
        clear:both!important;
    }
</style>
<div class="container">

    <div class="row">

        <div class="col-md-12">
            <form class="form-inline" method="post" action="/Admin/AddEmail" id="f1" style="color:red;">
                <div class="form-group">
                    <input placeholder="email..." type="email" class="form-control" required name="email">
                </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-default">Add Email</button>
                </div>

            </form>
        </div>

        <hr />

        <div class="col-md-12">
            <table class="table table-hover" id="dt">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<HcityAssets.Models.admin_emails>)ViewBag.emails)
                    {
                        <tr>
                            <td>@item.email</td>
                            <td>
                                <a href="/Admin/RemoveEmail/@item.id" class="label label-danger">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>

</div>


<script>
    $('#dt').DataTable();
    //$("#f1").validate();
</script>
