﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<style>
    .loader {
        height: 20px;
        width: 20px;
        visibility: hidden;
    }
</style>

<div class="container">

    <div class="row">
        <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;">

            

            <form style="width:80%;color:red;" action="/Assets/CreateAsset" method="post" id="f1">
                <small style="color:purple;">application for a new asset:</small>
                <br />
                <br />
                <div class="row">
                    <input type="hidden" name="CompanyId" value="@ViewBag.CompanyId" />


                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Asset Title</label>
                            <input type="text" name="Title" class="form-control" />
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Dev. Status</label>
                            <select name="dev_status" class="form-control">
                                <option value="7">Application</option>
                                @*@foreach (var item in (List<ClientMVC.Models.assetstatus>)ViewBag.asset_statutes)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }*@
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Asset Type</label>
                            <select name="AssetTypeId" class="form-control">
                                @foreach (var item in (List<ClientMVC.Models.assettype>)ViewBag.asset_types)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Road</label>
                            <select name="RoadId" class="form-control">
                                @foreach (var item in (List<ClientMVC.Models.road>)ViewBag.roads)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>




                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="black">Location Description</label>
                            <input type="text" name="LocationDescription" class="form-control" placeholder="left side of lapf building..." required />
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Latitude</label>
                            <input type="number" step="any" name="Latitude" id="Latitude" class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Longitude</label>
                            <input type="number" step="any" name="Longitude" id="Longitude" class="form-control" required />
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Length (m)</label>
                            <input type="number" step="any" min="1" name="length" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Width (m)</label>
                            <input type="number" step="any" min="1" name="Width" class="form-control" required />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-info btn-block" type="button" onclick="get_current_location();">
                            <span>
                                <img src="~/Content/assets/img/loader.gif" class="loader" />
                            </span>
                            GET LOCATION
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-secondary btn-block" type="submit">
                            SUBMIT
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<script>
    $("#f1").validate();




    function get_current_location() {
            var loader = $(".loader");
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                loader.css("visibility", "visible");
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    document.getElementById("Latitude").value = position.coords.latitude;
                    document.getElementById("Longitude").value = position.coords.longitude;
                    setTimeout(function () {
                        loader.css("visibility", "hidden");
                    }, 1000);
                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
    }



</script>


