﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@{
    var Asset = (ClientMVC.Models.asset)ViewBag.asset;
}

<div class="container">

    <div class="row">
        <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;">


            <form style="width:80%;color:red;" action="/Assets/EditAsset" method="post" id="f1">

                <div class="row">
                    <input type="hidden" name="CompanyId" value="@Asset.CompanyId" />
                    <input type="hidden" name="Id" value="@Asset.Id" />


                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Asset Title</label>
                            <input type="text" name="Title" value="@Asset.Title" class="form-control" />
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Dev. Status</label>
                            <select name="dev_status" class="form-control">
                                <option value="7">Application</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Asset Type</label>
                            <select name="AssetTypeId" class="form-control">
                                @foreach (var item in (List<ClientMVC.Models.assettype>)ViewBag.asset_types)
                                {
                                    <option value="@item.Id" selected="@(Asset.AssetTypeId==item.Id)">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Road</label>
                            <select name="RoadId" class="form-control">
                                @foreach (var item in (List<ClientMVC.Models.road>)ViewBag.roads)
                                {
                                    <option value="@item.Id" selected="@(Asset.RoadId==item.Id)">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>




                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="black">Location Description</label>
                            <input type="text" name="LocationDescription" value="@Asset.LocationDescription" class="form-control" placeholder="left side of lapf building..." required />
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Latitude</label>
                            <input type="number" step="any" name="Latitude" value="@Asset.Latitude" class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Longitude</label>
                            <input type="number" step="any" name="Longitude" value="@Asset.Longitude" class="form-control" required />
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Length (m)</label>
                            <input type="number" step="any" min="1" name="length" value="@Asset.length" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="black">Width (m)</label>
                            <input type="number" step="any" min="1" name="Width" value="@Asset.Width" class="form-control" required />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-info btn-block" type="button">
                            GET LOCATION
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-secondary btn-block" type="submit">
                            SUBMIT
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<script>
    $("#f1").validate();
</script>


