﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var db = new ClientMVC.Models.hcityEntities();
}
@using ClientMVC.Models;


<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

<form method="get" action="/Assets/ListAllMyAssets">
    <table>
        <tr>
            <td>From: </td>
            <td><input type="text" class="form-control" name="date_from" id="date_from" style="padding-left:10px;" value="@ViewBag.date_from"></td>
            <td>To: </td>
            <td><input type="text" class="form-control" name="date_to" id="date_to" style="padding-left:10px;" value="@ViewBag.date_to"></td>
            <td>
                <select name="status_id" class="form-control" style="width:200px;margin-left:20px;">
                    <option value="-1">All</option>
                    @foreach (var item in (List<ClientMVC.Models.assetstatus>)ViewBag.asset_statuses)
                    {
                        <option value="@item.Id" selected="@(ViewBag.selected_status==item.Id)">@item.Title</option>
                    }
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
            </td>
        </tr>
    </table>
</form>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Application Date</th>
                        <th>Title</th>
                        <th>Asset Type</th>
                        <th>Payment Status</th>
                        <th>Location Description</th>
                        <th>Road</th>
                        <th>Status</th>
                        <th>Lease</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<ClientMVC.Models.asset>)ViewBag.assets)
                    {
                        <tr>
                            <td title="@(DateTime.Parse(item.ApplicationDate.ToString()).ToString("yyyy-MM-dd"))">@(DateTime.Parse(item.ApplicationDate.ToString()).ToString("yyyy-MM-dd"))</td>
                            <td title="@item.Title">@item.Title</td>
                            <td title="@(Globals.get_asset_type_name(item.AssetTypeId))">@(Globals.get_asset_type_name(item.AssetTypeId))</td>
                            <td title="@(Globals.get_payment_status_name(item.PaymentStatusId))">@(Globals.get_payment_status_name(item.PaymentStatusId))</td>
                            <td title="@item.LocationDescription">@item.LocationDescription</td>
                            <td title="@(Globals.get_road_name(item.RoadId))">@(Globals.get_road_name(item.RoadId))</td>
                            <td title="@(Globals.get_asset_status_name(item.StatusId))">@(Globals.get_asset_status_name(item.StatusId))</td>
                            <td title="Open Lease">
                                <a href="/Assets/ViewLease/@item.Id" style="color:blue;">
                                   <u> @(Globals.get_lease_from_id(item.LeaseId ?? 0).Name) </u>
                                </a>
                            </td>

                            <td>
                                @if (item.StatusId == 7)
                                {//only allow edit if its still in application stage
                                    <a href="/Assets/EditAsset/@item.Id">
                                        <span class="badge badge-pill badge-success">Edit</span>
                                    </a>
                                }
                                |   <a href="/Assets/ViewAsset/@item.Id">
                                    <span class="badge badge-pill badge-info">View</span>
                                </a>

                                @if (item.StatusId == 7)
                                {//only allow edit if its still in application stage
                                    <text>|</text>
                                    <span class="badge badge-pill badge-danger" style="cursor:pointer;" onclick="confirm_delete('@item.Id')">Delete</span>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this asset?',
            buttons: {
                Yes: function () {
                    window.location = "/Assets/DeleteAsset/" + id;
                },
                No: function () {
                },

            }
        });

    }

</script>