﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@{ 
    var lease = (ClientMVC.Models.lease)ViewBag.lease;
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Lease Type</td>
                        <td>Start Date</td>
                        <td>End Date</td>
                        <td>Amount</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@lease.Name</td>
                        <td>@lease.leasetype.Title</td>
                        <td>@(lease.CommencementDate?.ToString("yyyy-MM-dd"))</td>
                        <td>@(lease.ExpiryDate?.ToString("yyyy-MM-dd"))</td>
                        <td>@(lease.amount)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
