﻿@model HcityAssets.Models.approval

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Approval</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Approval date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            Asset
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assetstatus.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assetstatus.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn" }) |
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn bt-primary" })
</p>
