﻿@model IEnumerable<HcityAssets.Models.approval>

@{
    ViewBag.Title = "Index";
}
<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">Approvals</div>
    <div class="panel-body">

        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Asset name
                </th>
                <th>
                    Approval date
                </th>
                <th>
                    Approved
                </th>
                <th>
                    Approved by
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.asset.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApprovalDate)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.IsApproved)*@
                        @if (item.IsApproved)
                        {<label>Yes</label> }
                        else
                        {<label>No</label>}
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.user.Firstname)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "label label-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "label label-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "label label-danger" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

