﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@{
    var assets = (List<ClientMVC.Models.asset>)ViewBag.assets;
}
@using ClientMVC.Models;

@*chart*@
<link href="~/Content/libs/chart_js/Chart.min.css" rel="stylesheet" />
<script src="~/Content/libs/chart_js/Chart.min.js"></script>

<style>
    .top {
        box-shadow: 0px 0px 5px #808080;
    }
</style>
<div class="container">

    <div class="top" style="height:50vh;">
        <div id="map" style="height:100%;width:100%;"></div>
    </div>
    <br />

    <div class="bottom" style="height:40vh;">
        <div class="row">

            <div class="col-md-3">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">Notifications</div>
                    <div class="card-body">

                        <table style="width:100%;">
                            <tr>
                                <td>Read</td>
                                <td>@ViewBag.notifications_read</td>
                            </tr>
                            <tr>
                                <td>UnRead</td>
                                <td>@ViewBag.notifications_un_read</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header">Assets</div>
                    <div class="card-body">
                        <table style="width:100%;">

                            <tr>
                                <td>Application</td>
                                <td>@ViewBag.assets_in_application</td>
                            </tr>


                            <tr>
                                <td>Dev Permit</td>
                                <td>@ViewBag.assets_in_dev_permit</td>
                            </tr>

                            <tr>
                                <td>Trench Permit</td>
                                <td>@ViewBag.assets_in_trench_permit</td>
                            </tr>

                            <tr>
                                <td>Active</td>
                                <td>@ViewBag.assets_in_active</td>
                            </tr>

                            <tr>
                                <td>Decomisioned</td>
                                <td>@ViewBag.assets_in_decommisioned</td>
                            </tr>

                            <tr>
                                <td>Rip Off</td>
                                <td>@ViewBag.assets_in_rip_off</td>
                            </tr>

                            <tr>
                                <td>Legal Action</td>
                                <td>@ViewBag.assets_in_legal_action</td>
                            </tr>




                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">Billing</div>
                    <div class="card-body" style="color:white!important;">

                        <div id="canvas-holder" style="width:100%;height:100%;">
                            <canvas id="ctx" style="width:100%;height:100%;"></canvas>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Information</div>
                    <div class="card-body">
                        <p class="card-text" style="color:white!important;">
                            Rubiem innovation in conjunction with harare city council monitors the billboards and
                            allows you to manage your assets
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
function initMap() {
    var myLatLng = { lat: -17.8277206, lng: 31.0533695 };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
    var infowindow = new google.maps.InfoWindow(); /* SINGLE */

        @foreach(var item in assets){
        <text>
    var iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|58D68D';
        if(@item.StatusId == "1")
            iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|F39C12';
        else if (@item.StatusId == "2")
            iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|239B56';
        else if (@item.StatusId == "3")
            iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|008000';
        else if (@item.StatusId == "4")
            iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|E74C3C';
        else if (@item.StatusId == "5")
            iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FE7569';
        else if (@item.StatusId == "6")
                iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FE7569';

         var marker = new google.maps.Marker({
             map: map,
             icon : iconcolor ,
             position: { lat: @item.Latitude, lng: @item.Longitude },
             title: '@item.Title'
          });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.close(); // Close previously opened infowindow
            infowindow.setContent(' <div class="well">' + '<strong>OWNER</strong> : ' + '@(Globals.get_company_name(item.CompanyId))' + '<br>' + '<strong>TITLE</strong> :' + '@item.Title' + '<br>' + ' <strong>BALANCE</strong> : ' + '@(item.Balance != null ? item.Balance : 0 )' + '<br>' + ' <strong>STATUS</strong> : ' + '@(Globals.get_asset_status_name(item.StatusId) ?? "unknown")' +'</div>' );
            infowindow.open(map, marker);
        });

        </text>
            }
      }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQrtU5y53d68uzWEsykk62vhtd2UDwTZY&callback=initMap"
        async defer></script>

@*graph*@
<script>

    window.chartColors = {
        red: 'rgba(255,0, 0,1)',
        orange: 'rgba(255, 159, 64,1)',
        yellow: 'rgba(255, 205, 86,1)',
        green: 'rgba(75, 192, 192,1)',
        blue: 'rgba(0, 0, 255,1)',
        purple: 'rgba(153, 102, 255,1)',
        black: 'rgba(0, 0, 0,1)'
    };

    var balance_color = window.chartColors.blue;
    var used_color = window.chartColors.black;
    if (@ViewBag.total_balance< 0) {
         balance_color = window.chartColors.red;
    }
    
    var data = {
        datasets: [{
            data: [@ViewBag.total_balance, @ViewBag.total_used],
            backgroundColor: [
                balance_color,
                used_color
            ]
        }],
        labels: [
            'Balance',
            'Used',
        ],

    };
    var ctx = $("#ctx");
    // And for a doughnut chart
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        //options: options
    });
</script>