﻿@model HcityAssets.Models.notification

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

   
    <div class="form-horizontal">
        <h4>Notification</h4>
        <hr />
        <form action="Notifications/Create" method="post">
            <div class="form-group">
                <label class="control-label col-md-2"><span style="color:red;">*</span>Company</label>
                <div class="col-md-10">
                    <select name="CompanyId" id="CompanyId" class="form-control">
                        @foreach (var item in (List<HcityAssets.Models.company>)ViewBag.companies)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"><span style="color:red;">*</span>Title</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="..." required name="TItle"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"><span style="color:red;">*</span>Message</label>
                <div class="col-md-10">
                    <textarea class="form-control" placeholder="..." required name="Message"></textarea>
                </div>
            </div>
        </form>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>
<script>
     $("#CompanyId").select2();
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
