﻿@model HcityAssets.Models.notification

@{
    ViewBag.Title = "Delete";
}

@using HcityAssets.Models;

<h2>Delete</h2>

<h3 class="alert alert-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Date:
        </dt>

        <dd>
            @(Model.Date?.ToString("yyyy-MM-dd"))
        </dd>

        <dt>
            Company:
        </dt>

        <dd>
            @Globals.get_company_name(Model.CompanyId)
        </dd>

        <dt>
            Title:
        </dt>

        <dd>
            @Model.Title
        </dd>

        <dt>
            Message:
        </dt>

        <dd>
            @Model.Message
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <p style="margin-top:30px;">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </p>
        </div>
    }
</div>
