﻿@model HcityAssets.Models.notification

@{
    ViewBag.Title = "Details";
}
@using HcityAssets.Models;

<h2>Details</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Date:
        </dt>

        <dd>
            @(Model.Date?.ToString("yyyy-MM-dd"))
        </dd>

        <dt>
            Company:
        </dt>

        <dd>
            @Globals.get_company_name(Model.CompanyId)
        </dd>

        <dt>
            Title:
        </dt>

        <dd>
            @Model.Title
        </dd>

        <dt>
            Message:
        </dt>

        <dd>
            @Model.Message
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
</p>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
