﻿@model IEnumerable<HcityAssets.Models.notification>

@{
    ViewBag.Title = "Index";
}

@using HcityAssets.Models;

<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:150px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
    .table-danger
    {
        background-color:red!important;
        color:white!important;
    }
    .table-success{
        background-color:green!important;
        color:white!important;
    }
</style>



<form method="get" action="/Notifications">
    <table>
        <tr>
            <td>From: </td>
            <td><input type="text" class="form-control" name="date_from" id="date_from" style="padding-left:10px;" value="@ViewBag.date_from"></td>
            <td>To: </td>
            <td><input type="text" class="form-control" name="date_to" id="date_to" style="padding-left:10px;" value="@ViewBag.date_to"></td>
            <td>
                &nbsp; <button type="submit" class="btn btn-primary btn-sm">Filter</button>
            </td>
        </tr>
    </table>
</form>

<br />

<div class="panel panel-primary">
    <div class="panel-heading">Notifications</div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-bordered table-hover" id="dt">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Company
                    </th>
                    <th>
                        Message
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td title="@(item.Date?.ToString("yyyy-MM-dd"))">
                            @(item.Date?.ToString("yyyy-MM-dd"))
                        </td>
                        <td title="@(Globals.get_company_name(item.CompanyId))">
                            @(Globals.get_company_name(item.CompanyId))
                        </td>
                        <td title="@item.Message">
                            @item.Message
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "label label-primary" }) |*@
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "label label-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "label label-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });
    $('#dt').DataTable({
        responsive: true,
    })
</script>
