﻿
@{
    ViewBag.Title = "AccountDetails";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@{
    var company = (ClientMVC.Models.company)ViewBag.company;
    var user = (ClientMVC.Models.aspnetuser)ViewBag.user;
}

<div class="container">


    <div class="row">
        <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;">

            <form action="/Account/SaveCompanyDetails" method="post" style="color:red;width:80%;" id="f1">

                <div class="form-group">
                    <label class="col-sm-3 col-form-label black"><span style="color:red"></span>Company Name</label>
                    <div class="col-sm-9">
                        <input type="text" value="@company.Name" class="form-control" name="companyname" required readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 col-form-label black"><span style="color:red"></span>Company Tel</label>
                    <div class="col-sm-9">
                        <input type="tel" value="@user.PhoneNumber" name="tel" class="form-control" required>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 col-form-label black"><span style="color:red"></span>Company Email</label>
                    <div class="col-sm-9">
                        <input type="email" value="@user.Email" name="email" class="form-control" required>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;  <small style="color:purple;">Contact your account manager to change these details:</small>
                @* <div class="form-group">
            <label class="col-sm-3 col-form-label black"></label>
            <div class="col-sm-9">
                <button type="submit" class="btn btn-secondary">SAVE</button>
            </div>
        </div>*@

            </form>


        </div>
    </div>



</div>

<script>
    $("#f1").validate();
</script>

