﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;">



            <form action="/Account/ChangePassword" method="post" id="f1" style="width:50%;color:red">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label black">Old Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control-plaintext" id="old_password" name="old_password" required>
                    </div>
                </div>



                <div class="form-group row">
                    <label class="col-sm-2 col-form-label black">New Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control-plaintext" id="new_password" name="new_password" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label black">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control-plaintext" id="confirm_password" name="confirm_password" required>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">&nbsp;</label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-secondary">SUBMIT</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


<script>
    $("#f1").validate({
        rules: {
            new_password: {
                minlength: 5
            },
            confirm_password: {
                minlength: 5,
                equalTo: "#new_password"
            }
        }
    });
</script>