﻿@model HcityAssets.Models.approvalstage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 class="alert alert-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>ApprovalStage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Asset status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assetstatus)
        </dd>

        <dt>
           Role
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index",null, new { @class = "btn" })
        </div>
    }
</div>
