﻿@model HcityAssets.Models.approvalstage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApprovalStage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Asset status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assetstatus)
        </dd>

        <dt>
            Role
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
