﻿@model IEnumerable<HcityAssets.Models.approvalstage>

@{
    ViewBag.Title = "Index";
}
<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">Approval stage</div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
        </p>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Asset status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.role.Title)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.assetstatus.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.role.Title)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "label label-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "label label-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "label label-danger" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

