﻿@{
    ViewBag.Title = "About";
}
<h2 class="well">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="well">
    <p class="jumbotron"> Public Asset Management system v1 <br />
    CoH asset management system is offered by rubiem Innovations.</p>
</div>
