﻿@{
    ViewBag.Title = "Contact";
}
<h2 class="well">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address class="well">
    42 Samora machel avaenue<br />
    Harare<br />
    <abbr title="Phone">P:</abbr>
    0719114692
</address>

<address class="well">
    <strong>Support:</strong>   <a href="mailto:hello@rubieminnovations.co.zw">hello@@rubieminnovations.co.zw</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@rubieminnovations.co.zw">Marketing@@rubieminnovations.co.zw</a>
</address>