﻿@model IEnumerable<HcityAssets.Models.asset>
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1 style="color:#9d9d9d;">Rubie monetizer</h1>
    <p style="color:#9d9d9d;" >Billboards & Telecoms Assets Management Portal </p>
</div>*@
<br />

<style>
    #map {
    box-shadow:0px 0px 5px #808080;
    }
</style>


<div class="row">
    <div id="map" style="height:70vh!important;"></div>
</div>
@section Scripts{
<script>
function initMap() {
    var myLatLng = { lat: -17.8277206, lng: 31.0533695 };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
    var infowindow = new google.maps.InfoWindow(); /* SINGLE */

        @foreach(var item in Model){
        <text>
    var iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|58D68D';
        if(@item.StatusId == "1")
            iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|F39C12';
        else if (@item.StatusId == "2")
            iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|239B56';
        else if (@item.StatusId == "3")
            iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|008000';
        else if (@item.StatusId == "4")
            iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|E74C3C';
        else if (@item.StatusId == "5")
            iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FE7569';
        else if (@item.StatusId == "6")
                iconcolor = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FE7569';

         var marker = new google.maps.Marker({
             map: map,
             icon : iconcolor ,
             position: { lat: @item.Latitude, lng: @item.Longitude },
             title: '@item.Title'
          });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.close(); // Close previously opened infowindow
            infowindow.setContent(' <div class="well">' + '<strong>OWNER</strong> : ' + '@item.company.Name' + '<br>' + '<strong>TITLE</strong> :' + '@item.Title' + '<br>' + ' <strong>BALANCE</strong> : ' + '@(item.Balance != null ? item.Balance : 0 )' + '<br>' + ' <strong>STATUS</strong> : ' + '@(item.assetstatus != null ? item.assetstatus.Title : "unknown")' +'</div>' );
            infowindow.open(map, marker);
        });

        </text>
            }
      }

</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQrtU5y53d68uzWEsykk62vhtd2UDwTZY&callback=initMap"
            async defer></script>
}