﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title CoH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*busy load*@
    <link href="~/Content/assets/libs/busyloadfull/busy_load.min.css" rel="stylesheet" />
    <script src="~/Content/assets/libs/busyloadfull/busy_load.min.js"></script>

    @*toaster*@
    <link href="~/Content/assets/libs/toaster/toastr.min.css" rel="stylesheet" />
    <script src="~/Content/assets/libs/toaster/toastr.min.js"></script>

    @*datatables
        <link href="~/Content/assets/libs/data_tables/datatables.min.css." rel="stylesheet" />*@
    <script src="~/Content/assets/libs/data_tables/datatables.min.js"></script>

    @*zebra date picker*@
    <script src="~/Content/assets/libs/zebra_date_picker/zebra_datepicker.min.js"></script>
    <link href="~/Content/assets/libs/zebra_date_picker/css/bootstrap/zebra_datepicker.min.css" rel="stylesheet" />

    @*validate*@
    <script src="~/Content/assets/libs/jq_validate/jquery.validate.min.js"></script>

    @*chosen*@
    <link href="~/Content/assets/libs/chosen/chosen.min.css" rel="stylesheet" />
    <script src="~/Content/assets/libs/chosen/chosen.jquery.min.js"></script>

    @*select2*@
    <link href="~/Content/assets/libs/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/assets/libs/select2/js/select2.min.js"></script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Assets", "Index", "Assets")</li>
                    <li>@Html.ActionLink("Transactions", "Index", "Transactions")</li>
                    <li>@Html.ActionLink("Companies", "Index", "Companies")</li>
                    @*<li>@Html.ActionLink("Approvals", "Index", "Approvals")</li>*@
                    <li>@Html.ActionLink("Leases", "Index", "Leases")</li>
                    @*<li>@Html.ActionLink("Asset Payment", "Index", "AssetPayments")</li>*@
                    <li>@Html.ActionLink("Notifications", "Index", "Notifications")</li>
                    @*<li>@Html.ActionLink("Users", "Index", "Users")</li>*@
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Admin Emails", "Emails", "Admin")</li>
                            <li>@Html.ActionLink("Fees", "Index", "Fees")</li>
                            <li>@Html.ActionLink("Leases Types", "Index", "LeaseTypes")</li>
                            <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                            <li>@Html.ActionLink("Roads", "Index", "Roads")</li>
                            <li>@Html.ActionLink("Approval stage", "Index", "ApprovalStages")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Me <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="background-color:#222222;">
                            <li style="color:black;">@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        @RenderBody()
        <footer class="rubi_footer">
            <div class="container.">
                <hr />
                <p style="color:darkblue;font-weight:600;">&copy; @DateTime.Now.Year - rubiem Innovations : Rubie monetizer</p>
            </div>
        </footer>
    </div>


    @*loader*@
    <script>
        $(window).on('beforeunload', function () {
            $.busyLoadFull("show");
        });
    </script>

    @*toaster*@
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


    </script>

    @if (TempData["tmsg"] != null)
    {
        <script>
            toastr.@(TempData["type"])(`@TempData["tmsg"]`)
        </script>
    }
    <script>
        console.log(`@TempData["ex"]`);
    </script>

</body>
</html>
