﻿@model HcityAssets.Models.Asset

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Road.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Road.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lease.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lease.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetType.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetType.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetStatus.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetStatus.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
