﻿@model HcityAssets.Models.Asset

@{
    ViewBag.Title = "Details";
}
<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">Asset details</div>
    <div class="panel-body">
        <div>
            <h4>Asset</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Balance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Balance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.length)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.length)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Width)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Width)
                </dd>

                <dt>
                    Location description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LocationDescription)
                </dd>

                <dt>
                    Application date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationDate)
                </dd>

                <dt>
                    Owner company name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company.Name)
                </dd>

                <dt>
                    Contact person
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.Firstname)
                </dd>

                <dt>
                    Road
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Road.Title)
                </dd>

                <dt>
                    Lease
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lease.Name)
                </dd>

                <dt>
                    Asset type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetType.Title)
                </dd>

                <dt>
                    Asset status
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetStatus.Title)
                </dd>

                <dt>
                    Payment status
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentStatus.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Latitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Latitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Longitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Longitude)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })

        </p>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
