﻿@model IEnumerable<HcityAssets.Models.Asset>

@{
    ViewBag.Title = "Index";
}

<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">Assets</div>
    <div class="panel-body">

        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Asset name
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Asset type
                </th>
                <th>
                    Asset status
                </th>
                <th>
                    Payment status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Balance)
                </th>
                <th>Lease</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetType.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetStatus.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStatus.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @if (item.Lease != null)
                        {
                            @Html.ActionLink("Lease", "Details", "Leases", new { id = item.LeaseId }, null)
                        }

                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "label label-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "label label-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "label label-danger" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

