﻿.black {
color:black!important;
}
.red{
    color:red;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.asset-payment-search-header .form-group {
    display: inline-block;
    margin: 10px;
    width: 31%;
}

.rubi_footer_
{
    position:relative;
    bottom:50px;
    left:0;
    right:0;
    height:50px;
}


dt {
    text-align: left !important;
}

table td {
    max-width: 200px !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
}
