﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using ClientMVC.Models

<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

<form method="get" action="/Billing/PaymentHistory">
    <table>
        <tr>
            <td>From: </td>
            <td><input type="text" class="form-control" name="date_from" id="date_from" style="padding-left:10px;" value="@ViewBag.date_from"></td>
            <td>To: </td>
            <td><input type="text" class="form-control" name="date_to" id="date_to" style="padding-left:10px;" value="@ViewBag.date_to"></td>
            <td>
                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
            </td>
        </tr>
    </table>
</form>

<br />




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table tblsm">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Approved</th>
                        <th>Rejected</th>
                        <th>Amount</th>
                        <th>FeesId</th>
                        <th>AssetId</th>
                        <th>Approved/Reject Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<ClientMVC.Models.transaction>)ViewBag.transactions)
                    {
                        <tr class="@(item.isRejected?"table-danger":"")">
                            <td title="@(item.PaymentDate?.ToString("yyyy-MM-dd"))">@(item.PaymentDate?.ToString("yyyy-MM-dd"))</td>
                            <td title="@(item.IsApproved?"Yes":"No")">@(item.IsApproved ? "Yes" : "No")</td>
                            <td title="@(item.isRejected?"Yes":"No")">@(item.isRejected ? "Yes" : "No")</td>
                            <td title="@item.Amount">@item.Amount</td>
                            <td title="@(Globals.get_fees_name(item.FeesId))">@(Globals.get_fees_name(item.FeesId))</td>
                            <td title="@(Globals.get_asset_name(item.AssetId))">@(Globals.get_asset_name(item.AssetId))</td>
                            <td title=">@(item.ApprovedDate?.ToString("yyyy-MM-dd"))">@(item.ApprovedDate?.ToString("yyyy-MM-dd"))</td>
                            <td>
                                <a href="/Billing/ViewPaymentDetails/@item.Id">
                                    <span class="badge badge-info">view</span> 
                                </a>
                                @if (!item.IsApproved && !item.isRejected)
                                {
                                    <text>|</text>
                                        <span style="cursor:pointer;" class="badge badge-danger" onclick="confirm_delete('@item.Id')">delete</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $("#date_from").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $("#date_to").Zebra_DatePicker({
        format: 'Y-m-d',
        icon_position: 'left'
    });

    $('#datatable').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });



    function confirm_delete(id) {

        $.confirm({
            type: "red",
            title: 'Information',
            content: 'Confirm delete?',
            buttons: {
                yes: function () {
                    window.location = "/Billing/DeletePaymentById/" + id;
                },
                no: function () {
                },
            }
        });


    }

</script>

