﻿@*use this to display the uploaded resource*@
@{
    var payment = (ClientMVC.Models.transaction)ViewBag.payment;
}

@using ClientMVC.Models;
@using System.Linq;


@*image viewer js*@
<link href="~/Content/assets/libs/image_viewer/iv-viewer.min.css" rel="stylesheet" />
<script src="~/Content/assets/libs/image_viewer/iv-viewer.min.js"></script>


@*use this for pdfs*@
@{
    var ext = Path.GetExtension(payment.Filename);
}
@if (ext.ToLower() == ".pdf")
{
    <div class="col-md-6">
        <iframe style="width:100%; min-height:500px;" frameborder="1"
                src="~/Content/libs/viewerjs-0.5.8/ViewerJS/#@payment.Filename.Replace("~","")"
                allowfullscreen
                webkitallowfullscreen>
        </iframe>
    </div>
}
else
{
    <div class="col-md-6">
        <div id="image-container">
            <img style="max-height:500px;max-width:100%;border:1px solid black;"
                 id="image"
                 src="@payment.Filename.Replace("~","")"
                 data-high-res-src="@payment.Filename.Replace("~","")" />
        </div>
        <small>use gesture to zoom image:</small>
    </div>
    <script>
        const image = document.querySelector('#image');
        var options = {};
        const viewer = new ImageViewer(image, options);
    </script>
}
