﻿@{
    Layout = "~/Views/shared/_LayoutMain.cshtml";
}

<div class="conatainer">
    <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;">
        <form enctype="multipart/form-data" style="width:90%;color:red;" action="/Billing/UploadPayment" method="post" id="f1">

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="black">Payment Type</label>
                        <select class="form-control" name="FeesId">
                            @foreach (var item in (List<ClientMVC.Models.fee>)ViewBag.fee)
                            {
                                <option value="@item.Id">@item.Title (@item.Amount)</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="black">Payment Amount</label>
                        <input type="number" step="any" min="0" name="Amount" value="" class="form-control" required/>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label class="black">Payment For Asset</label>
                        <select class="form-control" name="AssetId">
                            @foreach (var item in (List<ClientMVC.Models.asset>)ViewBag.assets)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="black">Upload Proof of payment</label>
                        <input type="file" class="form-control-file" required name="file" accept="image/*, .pdf">
                        <small id="fileHelp" class="form-text text-muted">
                            Upload file type: pdf jpeg jpg png
                        </small>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-secondary" type="submit">SUBMIT</button>
                    </div>
                </div>

        </form>
    </div>
</div>


<script>
    $("#f1").validate();
</script>