﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@{
    var payment = (ClientMVC.Models.transaction)ViewBag.payment;
}

@using ClientMVC.Models;
@using System.Linq;


@*image viewer js*@
<link href="~/Content/libs/image_viewer/iv-viewer.min.css" rel="stylesheet" />
<script src="~/Content/libs/image_viewer/iv-viewer.min.js"></script>


<div class="container">
    <div class="row">

        <div class="col-md-6">
            <table style="width:100%" class="table table-striped">
                <tr>
                    <td>
                        Date:
                    </td>
                    <td>
                        @(payment.PaymentDate?.ToString("yyyy-MM-dd"))
                    </td>
                </tr>


                <tr>
                    <td>
                        Payment For:
                    </td>
                    <td>
                        @(Globals.get_fees_name(payment.FeesId)) <span style="color:red;">|</span> @(Globals.get_asset_name(payment.AssetId))
                    </td>
                </tr>



                <tr>
                    <td>
                        Amount:
                    </td>
                    <td>
                        @payment.Amount
                    </td>
                </tr>

                @if (payment.IsApproved)
                {
                    <tr class="table-success">
                        <td>
                            Approved:
                        </td>
                        <td>
                            @(payment.IsApproved ? "Yes" : "No") <span style="color:red;">|</span>  @(payment.ApprovedDate?.ToString("yyyy-MM-dd"))
                        </td>
                    </tr>

                }

                @if (payment.isRejected)
                {
                    <tr class="table-danger">
                        <td>
                            Rejected:
                        </td>
                        <td>
                            @(payment.isRejected ? "Yes" : "No") <span style="color:red;">|</span>  @(payment.ApprovedDate?.ToString("yyyy-MM-dd"))
                        </td>
                    </tr>
                }
                </table>
        </div>

        @*use this for pdfs*@
        @{ 
            var ext = Path.GetExtension(payment.Filename);
        }
        @if( ext.ToLower()==".pdf" )
        {
            <div class="col-md-6">
                <iframe style="width:100%; min-height:500px;"
                        src="~/Content/libs/viewerjs-0.5.8/ViewerJS/#@payment.Filename.Replace("~","")"
                        allowfullscreen
                        webkitallowfullscreen>
                </iframe>
            </div>
        }
        else
        {
            <div class="col-md-6">
                <div id="image-container">
                    <img style="max-height:500px;max-width:100%;" 
                         id="image" 
                         src="@payment.Filename.Replace("~","")" 
                         data-high-res-src="@payment.Filename.Replace("~","")" />
                </div>
                <small>use gesture to zoom image:</small>
            </div>
            <script>
                const image = document.querySelector('#image');
                var options = {};
                const viewer = new ImageViewer(image, options);
            </script>
        }

    </div>
</div>