﻿@model HcityAssets.Models.assetpayment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 class="alert alert-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>AssetPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fee.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fee.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
