﻿@model HcityAssets.Models.assetpayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssetPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fee.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fee.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
