﻿@model IEnumerable<HcityAssets.Models.assetpayment>

@{
    ViewBag.Title = "Index";
}
<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">Asset payments</div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        @using (Html.BeginForm())
        {
            <div class="asset-payment-search-header well">
                <h4>Search filter box</h4>
                <div class="form-group">
                    @Html.DropDownList("FeesId", null, "Select fees", htmlAttributes: new { @class = "form-control" })
                    @Html.CheckBox("FeesCheckbox", false)
                </div>
                <div class="form-group">
                    @Html.DropDownList("UserId", null, "Select user", htmlAttributes: new { @class = "form-control" })
                    @Html.CheckBox("UserCheckbox", false)
                </div>
                <div class="form-group">
                    @Html.DropDownList("AssetId", null, "Select asset", htmlAttributes: new { @class = "form-control" })
                    @Html.CheckBox("AssetCheckbox", false)
                </div>
                <br />
                <div class="form-group">
                    @Html.DropDownList("AssetTypeId", null, "Select asset type", htmlAttributes: new { @class = "form-control" })
                    @Html.CheckBox("AssetTypeCheckbox", false)
                </div>
                <div class="form-group">
                    @Html.DropDownList("CompanyId", null, "Select company", htmlAttributes: new { @class = "form-control" })
                    @Html.CheckBox("CompanyCheckbox", false)
                </div>
                <div class="form-group">
                    <select name="byoverdue" class="form-control">
                        <option value="0">Select overdue</option>
                        <option value="1">Up to date</option>
                        <option value="2">30-days overdue</option>
                        <option value="3">60-days overdue</option>
                        <option value="4">90-days overdue</option>
                        <option value="5">120-days overdue</option>
                        <option value="6">Custom</option>
                    </select>
                    @Html.CheckBox("OverdueCheckbox", false)
                </div>
            </div>
            <div class="form-group" style="margin-top: 0;margin-bottom: 40px;float: right;display:block;margin-right: 10px;">
                <div class="col-md-offset-2 ">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td> <h4><strong>Data summary</strong></h4></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total payment count</td>
                            <td> @Model.Count()</td>
                        </tr>
                        <tr>
                            <td>Total value</td>
                            <td> @Model.Sum(a => a.Amount)</td>
                        </tr>
                        <tr>
                            <td>Cash payment count</td>
                            <td> @Model.Count(a => a.PaymentMethod == 1)</td>
                        </tr>
                        <tr>
                            <td>Ecocash count</td>
                            <td> @Model.Count(a => a.PaymentMethod == 2)</td>
                        </tr>
                        <tr>
                            <td>RTGS count</td>
                            <td> @Model.Count(a => a.PaymentMethod == 3)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        }

        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentMethod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPayment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.user.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fee.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.asset.Title)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.PaymentMethod)*@
                        @if (item.PaymentMethod == (int)HcityAssets.Models.PaymentMethod.Cash)
                        {@Html.Label("Cash");
                    }
                    else if (item.PaymentMethod == (int)HcityAssets.Models.PaymentMethod.Ecocash)
                    {
                        @Html.Label("Ecocash");
                    }
                    else if (item.PaymentMethod == (int)HcityAssets.Models.PaymentMethod.RTGS)
                    {
                        @Html.Label("RTGS");
                    }
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.IsPayment)*@
                        @if (item.IsPayment)
                        {
                            @Html.Label("Payment");
                        }
                        else
                        {
                            @Html.Label("Charge");
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fee.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.asset.Title)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "label label-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "label label-success" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "label label-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


