﻿@{
    Layout = "/Views/Shared/_LayoutMain.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            Date: @(DateTime.Parse(ViewBag.notification.Date.ToString()).ToString("yyyy-MM-dd"))
        </div>
    </div>
    <br />

    <hr />
    <br />
    <div class="row">
        <div class="col-md-12">
            Title: @ViewBag.notification.Title
        </div>
        <br />
    </div>

    <div class="row">
        <div class="col-md-12">
            Message: @ViewBag.notification.Message
        </div>
        <br />
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <span class="badge badge-danger" style="cursor:pointer" onclick="confirm_delete('@ViewBag.notification.Id','-1','-1')">delete</span>
        </div>
    </div>

</div>



<script>
      @*delete*@
    function confirm_delete(id, date_from, date_to) {
        $.confirm({
            title: 'Information',
            content: 'Delete this notification?',
            buttons: {
                Yes: function () {
                    window.location = `/Notifications/Delete/${id}/${date_from}/${date_to}`;
                },
                No: function () {

                },

            }
        });
    }

</script>